# Ambiente virtual
.venv/

# Cache do Python
__pycache__/
*.pyc

# Banco de dados local
db.sqlite3
db.sqlite3-journal

# Variáveis de ambiente (senhas, chaves)
.env

# Arquivos gerados pelo Django
media/
staticfiles/

# Logs
*.log

# Editores
.vscode/
.idea/